nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

time {
  font-style: italic;
}

.title {
  display: grid;
  gap: 0.25rem;
}

.download {
  position: fixed;
  bottom: 2rem;
  right: max(1rem, 50vw - 450px);
  display: flex;
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .title {
    grid-template-columns: 1fr auto;
  }
}